.user-moderation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  border-radius: 15px;
  min-height: 40vh;
}

#search-results {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 20px;
}

#users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 25vh;
  width: 100%;
}
