.user-moderation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  border-radius: 15px;
  min-height: 40vh;
}

#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  min-height: 25vh;
  width: 95%;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.219);
}

#users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 25vh;
  width: 100%;
}

#search-bar {
  display: flex;
  width: 40%;
  height: fit-content;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
}

#search-bar > input {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 1.3rem;
  transition: background-color 0.2s ease;
}

#search-bar > input:focus {
  outline: none;
  background-color: rgb(51, 51, 51);
}

#search-bar > button {
  width: 10%;
  border: none;
  background-color: rgb(231, 231, 231);
  color: rgb(59, 59, 59);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

#search-bar > button:hover {
  background-color: rgb(172, 172, 172);
  color: rgb(0, 0, 0);
}

@media (max-width: 1150px) {
  #users-list {
    flex-direction: column;
    gap: 2rem;
  }
}
