.user-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 30%;
  margin: 0 auto;
  min-width: 400px;
  overflow: auto;
  transform: translate(-50%, -50%);
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: none;
  background: #b550ba;
  background: linear-gradient(
    0deg,
    rgba(181, 80, 186, 1) 0%,
    rgba(255, 194, 102, 1) 100%
  );
  color: rgba(0, 0, 0, 0.637);
}

.info-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.226);
  padding: 0 10px;
  border-radius: 15px;
}

.user-details-modal > button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 204, 128);
  color: black;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
  width: 30%;
}

.user-details-modal > button:hover {
  background-color: rgb(218, 166, 88);
}

.user-details-modal .info-line p:first-child {
  font-weight: bold;
}

.admin-search-dropdown {
  position: relative;
  display: inline-block;
}

#user-type,
#user-status {
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 0 15px 15px;
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 10rem;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:last-child {
  border-radius: 0 0 15px 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.admin-search-dropdown:hover .dropdown-content {
  display: block;
}

.admin-search-dropdown:hover .dropbtn {
  background-color: #a7a7a7;
  border-radius: 15px 15px 0 0;
}
