#user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  padding: 0 2rem 2rem 2rem;
  border-radius: 15px;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
}

#edit-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 1150px) {
  #edit-section {
    flex-direction: column;
    align-items: center;
  }
}

#names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#avatar-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#avatar-field div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#avatar-field img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(55, 31, 77);
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid rgb(55, 31, 77);
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}



.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 8px 14px;
  cursor: pointer;
  border: none;
  background: #ddd;
}

.tabs button.active {
  background: #444;
  color: white;
}