#user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
}

#fields {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5rem;
}

#names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#avatar-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#avatar-field div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#avatar-field img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(55, 31, 77);
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid rgb(55, 31, 77);
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}
