#post-details {
  margin-top: 2em;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  color: white;
  padding: 20px;
  border-radius: 15px;
}

#post-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.219);
  margin-bottom: 2em;
}

#comments-container {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  padding: 20px;
}

#main-post-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main-post-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#main-post-content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-post-content-center > h1 {
  margin: 0;
  padding: 0;
}

#main-post-content-center > button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.281);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#main-post-content-center > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#main-post-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-post-right > p {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
