#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  width: fit-content;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.397);
}

#fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: fit-content;
}

.field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.field label {
  font-size: 1.2rem;
  font-weight: 500;
}

.field input {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.397);
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.field input:focus {
  background-color: rgba(0, 0, 0, 0.497);
  outline: none;
  border: none;
}

#register-form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  border-radius: 15px;
  background-color: black;
  border: none;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

#register-form button:hover {
  background-color: #646cff;
  color: black;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.85rem;
  white-space: nowrap;
  margin-left: 12px;
}
