#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  width: fit-content;
  border-radius: 15px;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
}

#fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: fit-content;
}

.field {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.field label {
  padding-top: 2px;
  font-size: 1.2rem;
  font-weight: 500;
}

.field input {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.field input:hover {
  background-color: rgba(0, 0, 0, 0.43);
  outline: none;
  border: none;
}

.field input:focus {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
}

#register-form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  border-radius: 15px;
  background-color: black;
  border: none;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

#register-form button:hover {
  background-color: #646cff;
  color: black;
  cursor: pointer;
}

.input-layout {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error {
  color: rgb(223, 108, 108);
  font-size: 0.85rem;
  white-space: nowrap;
  margin: 0;
}
