#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  border-radius: 15px;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

#forum-name {
  font-size: 3rem;
  font-weight: bold;
}

#nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}

#nav a,
#nav button {
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  align-content: center;
  padding: 0.5rem 0;
  border-radius: 15px;
  background-color: black;
  border: none;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
  width: 11rem;
}

#nav a:hover,
#nav button:hover {
  background-color: #646cff;
  color: black;
  cursor: pointer;
}

#nav a.active,
#nav button.active {
  background-color: #646cff;
  color: black;
  box-shadow: 0 0 10px rgba(100, 108, 255, 0.6);
  transform: translateY(-2px);
}

@media (max-width: 1000px) {
  #forum-name {
    font-size: 2rem;
  }

  #nav {
    flex-direction: column;
    gap: 1rem;
    width: 90%;
  }

  #nav a,
  #nav button {
    width: 100%;
  }
}

span {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
