#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  border-radius: 15px;
  padding: 0 0 1rem 0;
}

#forum-name {
  font-size: 3rem;
  font-weight: bold;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

#nav a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: black;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

#nav a:hover {
  background-color: #646cff;
  color: black;
  cursor: pointer;
}
