#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#forum-name {
  font-size: 3rem;
  font-weight: bold;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: black;
}
