.vote-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-panel button {
  background-color: gray;
  border-radius: 15px;
  justify-content: center;
  padding: 0.5rem 0.2rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.vote-panel button:hover {
  background-color: #646cff;
}
