.vote-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}

.vote-panel button {
  background-color: gray;
  border-radius: 15px;
  justify-content: center;
  padding: 0.5rem 0.2rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.vote-panel button:hover {
  background-color: #646cff;
}

.vote-panel .details {
  display: flex;
  flex-direction: column;
}

.vote-panel .details > p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.vote-panel .details > p:first-child {
  color: #4caf50;
}

.vote-panel .details > p:last-child {
  color: #f44336;
}
