#root {
  margin: 1rem 0;
  width: 80%;
  height: fit-content;
  border-radius: 15px;
  min-width: 320px;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgb(95, 53, 131);
}
