#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  width: fit-content;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.397);
}

#login-form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  border-radius: 15px;
  background-color: black;
  border: none;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

#login-form button:hover {
  background-color: #646cff;
  color: black;
  cursor: pointer;
}
