.comment {
  display: block;
  margin-left: 20px;
  border-left: 2px solid gray;
  padding-left: 10px;
  margin-top: 10px;
}

.comment-details {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  padding: 10px;
}

.comment-content {
  text-align: left;
  height: 100%;
  width: 95%;
  padding-left: 20px;
  overflow-wrap: anywhere;
}

.reply-container {
  display: block;
  width: 100%;
  justify-content: end;
}

.reply-button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.281);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.reply-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.comment-status {
  text-transform: capitalize;
}

.comment-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comment-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
}

.visible {
  border-color: gray;
}

.deleted {
  border-color: red;
}

.blocked {
  border-color: orange;
}

.hidden {
  border-color: blue;
}
