.comment {
  display: block;
  margin-left: 20px;
  border-left: 2px solid gray;
  padding-left: 10px;
  margin-top: 10px;
}

.comment-details {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  padding: 10px;
}

.comment-content {
  height: 100%;
  width: 100%;
}

.reply-container {
  display: block;
  width: 100%;
  justify-content: end;
  margin-top: 10px;
}
