.show-all-posts {
  background-color: rgb(95, 53, 131);
  border: 2px solid rgb(55, 31, 77);
  border-radius: 15px;
  padding: 1rem;
}

.show-all-posts > button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.281);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 1rem;
}

.show-all-posts > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
